## LOAD THE DATA FRAMES AND CLEAN

Remove duplicates

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
#Full csv with all car brands and models 
standvirtual_df = pd.read_csv("standvirtual_df.csv")

In [3]:
standvirtual_df.columns

Index(['car_full_name', 'registration_year', 'km_to_date', 'sale_price',
       'fuel_type', 'transmission_type', 'sale_picture_link'],
      dtype='object')

In [4]:
standvirtual_df = standvirtual_df.drop_duplicates(subset=["car_full_name", "registration_year", "km_to_date", "sale_price","fuel_type", "transmission_type",], keep="first")
# Reset the index
standvirtual_df.reset_index(drop=True, inplace=True)

In [5]:
standvirtual_df["car_full_name"] = standvirtual_df["car_full_name"].str.replace("ë", "e")
standvirtual_df["car_full_name"] = standvirtual_df["car_full_name"].str.replace("é", "e")
standvirtual_df["car_full_name"] = standvirtual_df["car_full_name"].str.lower()

standvirtual_df = standvirtual_df[standvirtual_df['km_to_date'] != "None"]
standvirtual_df['km_to_date'] = standvirtual_df['km_to_date'].str.replace('km', '').str.replace(' ', '').astype(int)

standvirtual_df = standvirtual_df[standvirtual_df['sale_price'] != "None"]
standvirtual_df['sale_price'] = standvirtual_df['sale_price'].str.replace(' ', '')
standvirtual_df['sale_price'] = standvirtual_df['sale_price'].astype(int)

standvirtual_df = standvirtual_df[standvirtual_df['fuel_type'] != "None"]
standvirtual_df['fuel_type'] = standvirtual_df['fuel_type'].str.replace('é', 'e')
standvirtual_df['fuel_type'] = standvirtual_df['fuel_type'].str.lower()
standvirtual_df['fuel_type'] = standvirtual_df['fuel_type'].str.replace(r'híbrido \(gasolina\)', 'hibrido', regex=True)

standvirtual_df = standvirtual_df[standvirtual_df['transmission_type'] != "None"]
standvirtual_df['transmission_type'] = standvirtual_df['transmission_type'].str.replace('á', 'a')
standvirtual_df['transmission_type'] = standvirtual_df['transmission_type'].str.lower()

## Lower case and get the brands

In [6]:
car_brands = [
    "toyota", "ford", "chevrolet", "honda", "volkswagen", "nissan",
    "hyundai", "bmw", "mercedes-benz", "audi", "subaru", "kia",
    "mazda", "tesla", "jeep", "gmc", "volvo", "jaguar", "land rover",
    "porsche", "ferrari", "lamborghini", "aston martin", "rolls-royce",
    "bentley", "maserati", "alfa romeo", "mini", "fiat", "peugeot",
    "renault", "citroen", "citroën", "skoda", "mitsubishi", "infiniti", "acura",
    "lexus", "buick", "chrysler", "dodge", "ram", "cadillac", "lincoln",
    "genesis", "suzuki", "vw", "ds", "seat", "opel", "dacia"
]

In [7]:
standvirtual_df = standvirtual_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [8]:
standvirtual_df['car_brand'] = standvirtual_df['car_full_name'].str.extract(f'({"|".join(car_brands)})', expand=False)
standvirtual_df = standvirtual_df[["car_brand"] + [col for col in standvirtual_df.columns if col != "car_brand"]]

In [9]:
value_counts = standvirtual_df['car_brand'].value_counts()
value_counts

mercedes-benz    1946
bmw              1573
renault          1513
peugeot          1469
vw                839
citroen           708
audi              689
seat              615
fiat              592
opel              542
ford              523
nissan            470
mini              418
volvo             337
porsche           301
toyota            295
hyundai           290
land rover        184
dacia             176
kia               153
jeep              117
jaguar            117
alfa romeo        116
mitsubishi        113
ds                112
skoda             110
mazda             100
honda              95
tesla              81
lexus              33
chevrolet          30
suzuki             26
lamborghini        16
ferrari            14
bentley            12
dodge              12
aston martin       12
maserati           10
chrysler            4
cadillac            3
subaru              2
infiniti            1
Name: car_brand, dtype: int64

Citroen and Audi cars have a similar sample population.

## Get the brands Citroen and Audi.

In [10]:
car_brands_2 = ["citroen", "citroën", "audi"]

In [11]:
citroen_audi_df = standvirtual_df[standvirtual_df["car_brand"].isin(car_brands_2)]
citroen_audi_df = citroen_audi_df[["car_brand"] + [col for col in standvirtual_df.columns if col != "car_brand"]]
citroen_audi_df = citroen_audi_df.reset_index(drop=True)

## Get the models. For the EDA, we will use Citroen C3 and Audi A1/A3

In [12]:
citroen_audi_models = [
    "c3", "c5", "c1", "berlingo", "ds3", "ds4", "c4", "ds5", "a1", "a3", "a4", "a5", "a6", "a7", "a8",
    "q2", "q3", "q5", "q7", "q8",
    "tt", "r8", "e-tron"
]

In [13]:
citroen_audi_df["car_model"] = citroen_audi_df["car_full_name"].str.extract(f'({"|".join(citroen_audi_models)})', expand=False)
citroen_audi_df["car_model"] = citroen_audi_df["car_model"].fillna("")

# Reorder the columns
cols = ["car_model"] + [col for col in citroen_audi_df if col != "car_model"]
citroen_audi_df = citroen_audi_df[cols]
citroen_audi_df = citroen_audi_df.reset_index(drop=True)

#citroen_audi_df = citroen_audi_df.iloc[:732]

citroen_audi_df.to_csv("citroen_audi_df.csv", index=False)